<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Desarrollo Movil multiplataforma</title>
</head>
<body style="background-color: darkcyan;">

<!--- Menu de la pagina---->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Listado de practica - D.M.M.P</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="Index.html">Inicio</a>
            <li>
              <a class="dropdown-item" href="#">Unidad II</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" href="#">Unidad III</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>

<br />
<br />
<br />
<center class="border shadow p-5 rounded container p-3 mb-2 bg-dark text-white d-flex justify-content-center align-items-center" style="width: 500px ;">
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Practica 1
</button>
</center>
 <center class="border shadow p-5 rounded container  p-3 mb-2 bg-dark text-white d-flex justify-content-center align-items-center" style="width: 500px ;">
 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
  Practica 2
</button>
</center>
 <center class="border shadow p-5 rounded container p-3 mb-2 bg-dark text-white d-flex justify-content-center align-items-center" style="width: 500px ;">
   <!-- Boton de la Practica 5 -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
      Practica 5
    </button>
</center>
</div>



 <!----Modal de Video----->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Practica 2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!----Video----->
        <center>
              <video width="400" height="300" id="vdo">
                <source src="Cartel.mp4" type="video/mp4">
              </video>
        </center>
              <!----Botones del video----->
              <div>
                <center>
                <button class="btn btn-outline-dark" onclick="playPause()">Play/Pausa</button>
                <button class="btn btn-outline-dark" onclick="stop()">-</button>
                <button class="btn btn-outline-dark" onclick="skip(-10)"><--</button>
                <button class="btn btn-outline-dark" onclick="skip(10)">--></button>
                </center>
              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>


 <!----Modal de Audio----->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Practica 1 </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
          <audio src="RelsB.mp3" id="audio"></audio>

           <!--- Botones del reproductor---->
           <div>
              <center>
            <button class="btn btn-outline-dark" onclick="document.getElementById('audio').play()">|></button>
            <button class="btn btn-outline-dark" onclick="document.getElementById('audio').pause()">||</button>
            <button class="btn btn-outline-dark" onclick="document.getElementById('audio').load()"><--></button>
            <button class="btn btn-outline-dark" onclick="document.getElementById('audio').volume += .1">Subir</button>
            <button class="btn btn-outline-dark" onclick="document.getElementById('audio').volume -= .1">Bajar</button>
             </center>
           </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar </button>
      </div>
    </div>
  </div>
</div>
</body>

 
    <!-- Modal de Registro de Pacientes -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de Pacientes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <div class="modal-body">
              <div id="appCrud" class="container">
                <section class="form">
                  <form action="" class="text-center">
                    <input v-model="nombre" @keyup.enter="crearPaciente" type="text" class="form-control" placeholder="Nombre: " name="nombre">
                    <br />
                    <input v-model="edad" @keyup.enter="crearPaciente" type="number" class="form-control" placeholder="Edad: " name="edad">
                    <br />
                    <input v-model="direccion" @keyup.enter="crearPaciente" type="text" class="form-control" placeholder="Direccion: " name="direccion">
                    <br />
                    <input v-model="correo" @keyup.enter="crearPaciente" type="email" class="form-control" placeholder="Correo: " name="correo">
                    <br />
                    <input v-model="telefono" @keyup.enter="crearPaciente" type="number" class="form-control" placeholder="Telefono: " name="telefono">
                    <br />
                    <input type="button" class="btn btn-info" @click="crearPaciente" value="RegistrarPaciente">
                  </form>
                </section>

                <section class="data">
                  <caption>Registro de Pacientes</caption>
                  <table class="table">
                    <thead>
                      <th scope="col">ID</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Edad</th>
                      <th scope="col">Direccion</th>
                      <th scope="col">Correo Electronico</th>
                      <th scope="col">Telefono</th>
                      <th></th>
                    </thead>
                    <tbody>
                      <tr v-for="(paciente, index) in pacientes">
                        <td>
                          {{paciente.id}}
                        </td>

                        <td>
                          <span v-if="formActualizar && idActualizar == index">
                            <input v-model="nombreActualizar" type="text" disabled class="form-control">
                          </span>
                          <span v-else>
                            {{paciente.nombre}}
                          </span>
                        </td>

                        <td>
                          <span v-if="formActualizar && idActualizar == index">
                            <input v-model="edadActualizar" type="text" disabled class="form-control">
                          </span>
                          <span v-else>
                            {{paciente.edad}}
                          </span>
                        </td>

                          <td>
                          <span v-if="formActualizar && idActualizar == index">
                            <input v-model="direccionActualizar" type="text" disabled class="form-control">
                          </span>
                          <span v-else>
                            {{paciente.direccion}}
                          </span>
                        </td>

                          <td>
                          <span v-if="formActualizar && idActualizar == index">
                            <input v-model="correoActualizar" type="email"  class="form-control">
                          </span>
                          <span v-else>
                            {{paciente.correo}}
                          </span>
                        </td>


              <td>
                          <span v-if="formActualizar && idActualizar == index">
                            <input v-model="telefonoActualizar" type="text"  class="form-control">
                          </span>
                          <span v-else>
                            {{paciente.telefono}}
                          </span>
                        </td>




                        <td>
                          <span v-if="formActualizar && idActualizar == index">
                            <button @click="guardarActualizacion(index)" class="btn btn-success">Guardar</button>
                          </span>
                          <span v-else>
                            <button @click="verFormActualizar(index)" class="btn btn-warning">Actualizar</button>
                            <button @click="borrarPaciente(index)" class="btn btn-danger">Borrar</button>
                        </td>
                    </tbody>
                  </table>
                </section>
              </div>

              

         </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!----Funciones del video---->
<script type="text/javascript">

  var reproductorVD = document.getElementById('vdo');
  function playPause(){
    if(reproductorVD.paused)
      reproductorVD.play();
    else  
      reproductorVD.pause();
  }

  function stop(){
    reproductorVD.pause();
    reproductorVD.currentTime = 0;
  }
  function skip(value){
    reproductorVD.currentTime += value;

  }
</script>
<!----Funciones del audio---->
<script type="text/javascript">
 function play (){
 var audio 
 document.getElementById('audio')
 cancion.play(); 
}

 function pause (){
  var audio
  document.getElementById('audio');
  cancion.pause(); 
 }

 function load (){
  var audio 
  document.getElementById('audio');
  cancion.load();
 }
</script>



<!----Funciones del Regristro---->
<script>
  document.addEventListener('DOMContentLoaded', function (){
    new Vue({
      el: '#appCrud',
      data: {
        nombre: '',
        edad: '',
        direccion: '',
        correo: '',
        telefono: '',
        formActualizar: false,
        idActualizar: -1,
        nombreActualizar: '',
        edadActuaizar: '',
        direccionActuaizar: '',
        correoActuaizar: '',
        telefonoActuaizar: '',
        pacientes: []
      },
      methods: {
       crearPaciente: function (){
        this.pacientes.push({
          id: + new Date(),
          nombre: this.nombre,
          edad: this.edad,
          direccion: this.direccion,
          correo: this.correo,
          telefono: this.telefono
        });
        this.nombre = '';
        this.edad = '';
        this.direccion = '';
        this.correo = '';
        this.telefono = '';
       },
       verFormActualizar: function (paciente_id){
        this.idActualizar = paciente_id;
        this.nombreActualizar = this.pacientes[paciente_id].nombre;
        this.edadActualizar = this.pacientes[paciente_id].edad;
        this.direccionActualizar = this.pacientes[paciente_id].direccion;
        this.correoActualizar = this.pacientes[paciente_id].correo;
        this.telefonoActualizar = this.pacientes[paciente_id].telefono;
        this.formActualizar = true;
       },
       borrarPaciente: function (paciente_id){
        this.pacientes.splice(paciente_id, 1);
       },
       guardarActualizacion: function (paciente_id){
        this.formActualizar = false;
        this.pacientes[paciente_id].nombre = this.nombreActualizar;
        this.pacientes[paciente_id].edad = this.edadActualizar;
        this.pacientes[paciente_id].direccion = this.direccionActualizar;
        this.pacientes[paciente_id].correo = this.correoActualizar;
        this.pacientes[paciente_id].telefono = this.telefonoActualizar;
 


       }

      }

    });
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</html>